<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      本页面出现 <%= object.errors.count %> 项错误.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>